@import '../../colors.scss';

.map-container {
	background-color: #f9f9f9;
    border-radius: 6px;
    padding: {
        top: 18px;
        right: 12px;
        bottom: 18px;
        left: 12px;
	}
	height: 72vh;
	position: relative;
	overflow: hidden;
}

.venue-map {
	position: absolute;
    width: 100%;
    height: 133%;
    top: -19%;
    left: 0;
}

.st0 {
	fill:#000;
}

.icon {
	fill: $color-red;
}

.icon.exit {
	fill: $color-green;
}

.st1 {
	fill:none;
}