@import '../colors';
@import '../fonts';
@import '../reset';

* {
    box-sizing: border-box;
}

a {
    color: $color-rebeccapurple;
    text-decoration: underline;
    &:hover, &:focus {
        color: darken($color-rebeccapurple, 15%);
        text-decoration: none;
    }
}

html, body {
    font: {
        family: $font-primary;
        size: 18px;
        weight: 200;
    }
}
body {
    &::before {
        border-style: solid;
        border-width: 0 85vw 58vh 0;
        border-color: transparent $color-lightorange transparent transparent;
        content: '';
        height: 0;
        position: fixed;
        right: 0;
        top: 0;
        width: 0;
        z-index: -1;
    }
}

.site{
    &_content {
        &_back {
            background-color: #fff;
            color: #000;
            display: inline-block;
            font-weight: 700;
            margin: {
                top: 18px;
                bottom: 20px;
                left: 16px;
            }
            padding: {
                top: 12px;
                right: 24px;
                bottom: 12px;
                left: 16px;
            }
            text-decoration: none;
        }
    }
    &_footer {
        background-color: $color-rebeccapurple;
        margin: {
            top: 40px;
            right: 16px;
            bottom: 16px;
            left: 16px;
        }
        padding: {
            top: 12px;
            right: 12px;
            bottom: 12px;
            left: 12px;
        }
        &_nav {
            font-size: 16px;
            text-align: center;
            &_list {
                &_item {
                    display: inline;
                    margin: {
                        right: 12px;
                        left: 12px;
                    }
                    &_link {
                        color: #fff;
                        &:hover, &:focus {
                            color: #eaeaea;
                        }
                    }
                }
            }
        }
    }
}

.program {
    display: none;

    &.show {
        display: block;
    }
}

.days {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    &_item {
        flex-basis: 50%;
    }
    &_link {
        background-color: #624768;
        color: rgba(255, 255, 255, 0.8);
        display: block;
        font: {
            size: 18px;
            weight: 700;
        }
        padding: {
            top: 12px;
            right: 12px;
            bottom: 15px;
            left: 12px;
        }
        text: {
            align: center;
            decoration: none;
        }
        &:hover,
        &:focus,
        &.active {
            background-color: $color-darkpurple;
            color: #fff;
        }
        &:active {
            background-color: $color-darkpurple;
        }
    }
}

.content {
	background-color: #f9f9f9;
    padding: 16px;
    margin: 16px;
    position: relative;
    h2 {
        font: {
            size: 20px;
            weight: 700;
        }
        margin: {
            top: 15px;
            bottom: 10px;
        }
    }

    &.contacts {
        p {
            margin-bottom: 1rem;
        }
    }
}

.schedule {
    &::after {
        background-color: $color-lightpurple;
        content: "";
        height: 100vh;
        left: 20px;
        position: fixed;
        top: 0;
        width: 2px;
        z-index: -1;
    }
}