$bg-color: #f0f0f0;

$color-red: #DB3127;
$color-blue: #3580C2;
$color-yellow: #f2de48;
$color-green: #43a447;
$color-purple: #673ab7;
$color-orange: #ff5722;
$color-white: #dfdfdf;
$color-black: #0f0f0f;

$color-salmon: #F05D5E;



$js-blue: #3480c2;
$js-green: #43a447;
$js-red: #db3026;
$js-yellow: #f2de48;


$font-primary: 'Titillium Web', sans-serif;
$font-secondary: 'Roboto', sans-serif;


$color-rebeccapurple: #663399;
$color-purple: #663399;
$color-lightpurple: #B669B1;
$color-lightestpurple: #F5F0FA;
$color-darkpurple: #240D37;
//$color-orange: #EC6E60;
$color-orange: #ff6756;
$color-lightorange: #E48B8D;
$color-sessionize: #1ab394;
